@import url('./cursor.css');

@font-face {
	font-family: "Source-Sans";
	src: url('./assets/fonts/SourceSansPro-Regular.ttf.woff')
}

body {
	background-image: url('./assets/img/background.png');
	color: #fff;
	padding: 0;
	margin: 0;
	font-family: 'Source-Sans', sans-serif;
	height: 100vh;
}

.footer {
	width: 100%;
	font-size: 16px;
	height: 20px;
	text-align: center;
}

a:active {
	color: #00c8ff;
	text-decoration: none;
}

a:link {
	color: #00c8ff;
	text-decoration: none;
}

a:visited {
	color: #00c8ff;
	text-decoration: none;
}

a:hover {
	color: #58fffd;
	text-decoration: none;
}

::-moz-selection {
	background-color: rgba(255, 255, 255, 0.99);
	color: #00b9ef;
	text-shadow: 0 0 1px #00fffb;
}

::selection {
	background-color: rgba(255, 255, 255, 0.99);
	color: #00b9ef;
	text-shadow: 0 0 1px #00fffb;
}

.error404 {
	text-align: center;
	padding-top: 20px;
	font-size: 48px;
}

.forwardbutton, .backbutton {
	width: 82px;
	height: 74px;
	display: inline-block;
	background-size: cover;
}

.forwardbutton {
	background-image: url('./assets/img/buttons/btn_forward.png');
}

.forwardbutton:hover {
	background-image: url('./assets/img/buttons/btn_forward_hover.png');
}

.forwardbutton:active {
	background-image: url('./assets/img/buttons/btn_forward_active.png');
}

.backbutton {
	background-image: url('./assets/img/buttons/btn_back.png');
}

.backbutton:hover {
	background-image: url('./assets/img/buttons/btn_back_hover.png');
}

.backbutton:active {
	background-image: url('./assets/img/buttons/btn_back_active.png');
}

input:focus {
	outline: 1px solid #a8a8a8;
}

input[type="submit"] {
	background: none;
	border: 0;
	outline: 0;
	box-shadow: none;
	color: #009aff;
	font-size: 22px;
	box-sizing: border-box;
}

input[type=text], input[type=password], input[type=number], input[type=time] {
	background-color: #343434;
	color: #ffffff;
	border: 1px solid #666666;
	font-size: 18px;
}

select {
	background-color: #343434;
	color: #ffffff;
}