.main{
    width:65%;
    display:flex;
    background-color: rgba(0, 0, 0, 0.90);
    box-sizing:border-box;
    flex-direction:column;
    margin:40px auto 5px auto;
    font-size:16px;
    text-align:center;
    padding:10px;
    align-items:center;
}
.in-field{
    width:40%;
    margin-bottom:20px;
    font-family:'Source-Sans', sans-serif;

}