.main {
	width: 80%;
	background-color: rgba(0, 0, 0, 0.90);
	box-sizing: border-box;
	flex-direction: column;
	margin: 40px auto 20px auto;
	min-height: 800px;
}

.match-list {
	text-align: center;
	margin-top: 20px;
}


.match-in-list {
	font-size: 16px;
	transition-duration: .3s;
	transition-timing-function: linear;
	animation: fadeout;
}

.match-in-list > td {
	padding: 3px 0 3px 0;
}

.match-in-list > td > a {
	color: white;
	display: block;
}

.match-in-list:hover {
	background-color: #00d0ff;
}

.icon-bank {
	display: flex;
	justify-content: center;
}

.game-icon-image {
	width: 20px;
	height: 20px;
	margin-right: 3px;
}

.top {
	display: flex;
}

.backbutton, .forwardbutton {
	width: 41px;
	height: 37px;
}

.page {
	display: flex;
	margin: 10px 0 10px 20px;
}

.icon-bank > a {
	width: 100%;
}
