.main {
	width: 80%;
	background-color: rgba(0, 0, 0, 0.90);
	min-height: 800px;
	box-sizing: border-box;
	flex-direction: column;
	margin: 40px auto 20px auto;
	padding-top: 20px;
}

.match-list {
	text-align: center;
	margin-top: 5px;
}

.match-in-list {
	font-size: 16px;
	transition-duration: .3s;
	transition-timing-function: linear;
	animation: fadeout;
}

.match-in-list > td {
	padding: 3px 0 3px 0;
}

.match-in-list > td > a {
	color: white;
	display: block;
}

.match-in-list:hover {
	background-color: #00d0ff;
}

.icon-bank {
	display: flex;
	justify-content: center;
}

.game-icon-image {
	width: 20px;
	height: 20px;
	margin-right: 3px;
}

.icon-bank > a {
	width: 100%;
}

.tournament {
	margin-bottom: 20px;
}

.tournament-top-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tournament-top-row-b {
	display: flex;
	justify-content: space-around;
	font-size: 22px;
}

.no-tournaments {
	width: 100%;
	display: flex;
	justify-content: center;
}